.container{
    display: inline-flex;
    justify-content: center;
    position: absolute;
    left: 37%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


label{
    display: block;
}