* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f9f4f4;
}

h1 {
  text-align: center;
  color: rgb(2, 238, 160);
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.calculator {
  width: 30%;
  margin: auto;
  background-color: #1ab3c4;
  padding: 30px;
  border-radius: 20px;
}

.display > input {
  width: 100%;
  height: 10%;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  border: white;
  font-size: 18px;
  outline: none;
}

.keyboard {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 10px;
}

.keyboard > div {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 1px 1px 5px rgb(111, 111, 111);
  cursor: pointer;
}

.operation {
  background-color: black;
  color: white;
}

.button {
  background-color: white;
}

.clean {
  background-color: red;
  color: white;
}
